.App {
  text-align: center;
  width: 100%;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
img, .Logi-logo, .App-header img {
  width: 100%;
  height: 7%;
}

.App-link {
  color: #09d3ac;
}

.Map {
  position: relative;
  height: 200px !important;
}
.Locker {
  position: absolute;
  top: 700px;

}

.Reservation {
  position: absolute;
  top: 250px;

}

